{% extends 'base.html.twig' %}

{% block title %}Employés - {{ parent() }}{% endblock %}

{% block body %}

<main>
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>Équipe</h1>
        </div>
    </header>
    <div id="content">test 2</div>
</main>

{% endblock %}
