{% extends 'base.html.twig' %}

{% block title %}Projets - {{ parent() }}{% endblock %}

{% block body %}

<main>
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>Projets</h1>
        </div>
    </header>
    <div id="content">test</div>
</main>

{% endblock %}
